<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347981347701-2lroaav1hq801sr1040d9gn6hmtlik1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347981347701-2lroaav1hq801sr1040d9gn6hmtlik1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAoZx0CbcbHfAxMXZJ3qXEaIV7egQDQlHw</string>
	<key>GCM_SENDER_ID</key>
	<string>347981347701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.codeveer.advocate</string>
	<key>PROJECT_ID</key>
	<string>advocate-codeveer</string>
	<key>STORAGE_BUCKET</key>
	<string>advocate-codeveer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347981347701:ios:401ba1888a05f32ef2313c</string>
</dict>
</plist>